<%- include partials/header %>
<br>
<br>



<div class="container backgroundIndex">
     
      <div class="col-6 welcome">
      
            <% if (user) { %>
                <h4>Welcome, <%= user.name %> </h4>
              <% } else { %>
                <h4>Please sign in</h4>
              <% } %>
    
      </div>

</div>
    





      
<%- include partials/footer %>


