.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

#nav-bar {
  font-size: 1.2rem;
  background-color: rgb(188, 150, 143);

}
#nav-bar .nav-link {
  color: white;

}
#nav-bar .nav-link:hover {
  color: black;
}

.rest-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  margin-top: 60px;
  padding: 60px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #eff1f3;
  
}


.collection-item form {
  margin-top: -5px;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

.restcard {
  /* height: 220px; */
  width: 400px;
  margin: 5px 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; 
  flex-direction: column;
  background-color: white;
  border: 0.5px solid #969695;
}

#removeReview {
  float: right;
  margin: 0px 0px 30px 0px;


}

/* .formcard {
  height: 220px;
  width: 455px;
  margin: 5px 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; 
  flex-direction: column;
  background-color: pink;
  border: 0.5px solid #969695;

} */

#eachReview {
  background-color: #eff1f3;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;

}

#addReview{
  background-color: #eff1f3;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
}


/* make the text centered on image but background box */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  color: white;
  background-color: rgba(23, 1, 1, 0.873);
  border-radius: 10px;

  
 
}

.backgroundIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: url("../../images/restaurant.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}