.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

.restcard {
  /* height: 220px; */
  width: 400px;
  margin: 5px 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; 
  flex-direction: column;
  background-color: white;
  border: 0.5px solid #969695;
}

/* .formcard {
  height: 220px;
  width: 455px;
  margin: 5px 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; 
  flex-direction: column;
  background-color: pink;
  border: 0.5px solid #969695;

} */

#eachReview {
  margin: 5px 3px;
  padding: 5px 10px;
  background-color: beige;
  border: 0.5px solid #969695;

}

#addReview{
  background-color: rosybrown;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rosybrown;
}