<%- include('../partials/header') %>


<br><br>

    <h2 class="text-center">Edit Restaurants</h2>
    <div class="col-4 offset-4 rest-form"> 
        <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label">Restaurant Name:</label>
                <input class="form-control" type="text" name="name">
            </div>
           
            <!-- <div class="mb-3">
                <label class="form-label">City:</label>
                <input class="form-control" type="text" name="location">
            </div> -->
<!--            
            <div class="mb-3">
                <label class="form-label">Type of food:</label>
                <select name="foodtype">
                    <option value="Mexican">Mexican</option>
                    <option value="Italian">Italian</option>
                    <option value="Greek">Greek</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Indian">Indian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="American">American</option>
                    <option value="Thai">Thai</option>
                    <option value="Other">Other</option>
                </select>
            </div> -->
            <div class="mb-3">
                <button class="btn btn-success" type="submit" value="Update Restaurant">Update Restaurant</button>
            </div>
        </form>
    </div>



    <%- include('../partials/footer') %>


