<%- include('../partials/header') %>
    <br>
    <br>

    <h3>My Favorites</h3>

    <div class="container">
        <div class="row card-body">
            <div class="col-3">
                <img src="../../images/burger.jpg" height="200" width="100%">
                <img src="../../images/salad.jpg" height="250" width="100%">
                <img src="../../images/greek.jpg" height="250" width="100%">
            </div>

            <div class="col-6">



            

            </div>

            <div class="col 3">
                <img src="../../images/meat.jpg" height="200" width="100%">
                <img src="../../images/sushi.jpg" height="250" width="100%">
                <img src="../../images/pancake.jpg" height="250" width="100%">
            </div>
            

        </div>
    </div>
    <%- include('../partials/footer') %>