<%- include('../partials/header') %>


<br><br>

    <h2 class="text-center">NEW Restaurants</h2>
    <div class="col-4 offset-4">
        <form action="/restaurants/new" method="POST">
            <div class="mb-3">
                <label class="form-label">Restaurant Name:</label>
                <input class="form-control" type="text" name="name">
            </div>
           
            <div class="mb-3">
                <label class="form-label">City:</label>
                <input class="form-control" type="text" name="location">
            </div>
           
            <div class="mb-3">
                <label class="form-label">Type of food:</label>
                <select name="foodtype">
                    <option value="Mexican">Mexican</option>
                    <option value="Italian">Italian</option>
                    <option value="Greek">Greek</option>
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit" value="Add Restaurant">Add Restaurant</button>
            </div>
    </div>
    </form>



    <%- include('../partials/footer') %>